@font-face {
    
 font-family: "Lato";
 src: url("https://fonts.googleapis.com/css?family=Lato");

}

body {
    
    background-color: #618A89;
    color: white;
    font-family: 'lato', sans-serif;
    text-align: center;
    max-width: 1280px;
    margin-top: 0;
}

h2 {

    border-bottom: 1px solid #D08948;
    background-color: #7FACAC;
    margin-top: 0;
    padding: 0;

}

#portfolio_container{
    
    border-width: thin;
    border-style: solid;
    border-color: #D08948;
    padding-bottom: 20px;
	margin: 0px;
    border-bottom: 1px solid #D08948;    
    
}

#portfolio{
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail{

    background-color: #7FACAC;
    border-width: thin;
    border-style: solid;
    border-color: #D08948;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: inline-block;

}

/*mobile rules*/ 
@media screen and (max-width: 480px) {
    .thumbnail{
        width: 150px;
    }

} 

/*tablet rules*/ 
@media screen and (min-width: 481px) {
    .thumbnail{
        width: 250px;
    }

}

 /*Desktop rules*/ 
@media screen and (min-width: 769px) {
    .thumbnail{
        width: 400px;
    }

}
